<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif||swf|css|js|woff|woff2)$">
Header set Cache-Control "max-age=290304000, public"
</FilesMatch>
RewriteEngine On
RewriteBase /

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L,R=301]

RewriteCond %{HTTP_HOST} !(www.robinglauser.ch|localhost)$ [NC]
RewriteRule ^(.*)$ https://www.robinglauser.ch/$1 [L,R=301]
RewriteRule ^send /app.php
RewriteRule ^captcha /app.php
RewriteRule ^blogfeed /app.php

<IfModule mod_rewrite.c>
     RewriteEngine On
     RewriteCond %{REQUEST_FILENAME} !-f
     RewriteRule ^(.+)\.(\d+)\.(bmp|css|cur|gif|ico|jpe?g|js|png|svgz?|webp)$ $1.$3 [L]
</IfModule>
